<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
              <binding name="ListsSoap">
                <security mode="TransportCredentialOnly">
                  <transport clientCredentialType="Ntlm">
                  </transport>
                </security>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://somesharepoint2010site/sites/RequestSystem/_vti_bin/Lists.asmx"
                binding="basicHttpBinding" bindingConfiguration="ListsSoap"
                contract="ListsService.ListsSoap" name="ListsSoap" />
        </client>
    </system.serviceModel>
</configuration>